-e .

docutils!=0.14rc1; python_version in '3.8'
pycodestyle==2.0.0; python_version in '3.8'
argparse; python_version < '3.2'
bandit; python_version in '3.8'
behave; python_version in '3.8'
cheesecake; python_version in '3.8'
coverage; python_version in '3.8'
decorator; python_version in '3.8'
flake8; python_version in '3.8'
mako; python_version in '3.8'
matplotlib; python_version in '3.8'
numpy; python_version in '3.8'
ordereddict; python_version < '3.0'
paramiko; python_version in '3.8'
pdoc3; python_version in '3.8'
pepper8; python_version in '3.8'
pexpect; python_version in '3.8'
pylint; python_version in '3.8'
pymetrics; python_version in '3.8'
pytest-cov; python_version in '3.8'
pytest; python_version in '3.8'
radon; python_version in '3.8'
scp; python_version in '3.8'
setuptools; python_version in '3.8'
versio
wheel; python_version in '3.8'
