* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 17px;
    background: deepskyblue; /* For browsers that do not support gradients */
}

a {
    text-decoration: none;
    color: #336699;
}

a:hover {
    text-decoration: underline;
    color: #111;
}

#wrap {
    margin: 0 auto;
    width: auto;
}

#title {
    text-align: center;
    font-size: 14pt;
    color: #000099;
    margin-bottom: 5px;
}

/*#fretboardInfo {*/
/*    font-size: 14pt;*/
/*    color: #999999;*/
/*}*/

#header {
    height: 50px;
    background: darkseagreen; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(darkslategrey, deepskyblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(darkslategrey, deepskyblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(darkslategrey, deepskyblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(darkslategrey, deepskyblue); /* Standard syntax */
}

#header img {
    float: right;
    padding-right: 0;
}

#header h1 {
    font-size: 25px;
    letter-spacing: -1px;
    padding: 25px 0 0 20px;
    color: #fff;
}

#header h1 a {
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: -2px;
}

#header h1 a:hover {
    color: #111;
}

#header h2 {
    font-size: 18px;
    color: darkblue;
    padding: 3px 0 0 20px;
    letter-spacing: -1px;
    font-weight: 100;
}

#menu {
    display: block;
}

#menu div {
    float: left;
}

#menu ul {
    list-style-type: none;
    padding-left: 20px;
}

#menu ul li {
    display: block;
    float: left;
}

#menu ul li div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

#menu ul li div label {
    padding-right: 5px;
}

#menu ul li div select {
    padding-left: 5px;
}

#menubottom {
    display: none;
}

#content {
    display: inline-block;
    background: deepskyblue;
}


#footer {
    /* display: none; */
    background: deepskyblue; /* For browsers that do not support gradients */
    color: dimgrey;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
}
